/* Master */
.App {
  text-align: center;
  font-size: xx-large;
}

/* Jeff */
.jeff {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  max-width: 10%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main body */
#selfie {
  max-width: 20%;
}

h1 {
  animation: riseText 0.4s linear 0s 1, fadeInText 0.75s ease-in 0s 1;
}

#desc {
  font-style: italic;
}

@keyframes fadeInText {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes riseText {
	0% {
		transform: translateY(25px);
	}
}