/* Animations */
@keyframes grow {
    0% {
        width: 30%;
    }
    100% {
        width: 35%;
    }
}

@keyframes shrink {
    0% {
        width: 35%;
    }
    100% {
        width: 30%;
    }
}

#projectsList div {
    display: inline-block;
}

.project {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    animation: shrink 0.5s;
    width: 30%;
}

.activeProject {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    animation: grow 0.5s;
    width: 35%;
}

.projectImg {
    max-height: 380px;
    max-width: 380px;
    margin-left: 50px;
    margin-right: 50px;
}